* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #fff;
  background-color: #151515;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

/* --------------------------------------- */
/* RESUABLE COMPONENTS */
/* --------------------------------------- */
.row {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding: 60px 0;
}

.page-title {
  font-weight: 300;
  font-size: 180%;
  text-align: left;
}

.underline {
  width: 100%;
  background-color: #fff;
  display: block;
  height: 2px;
  margin-top: 10px;
}

h3 {
  font-weight: 200;
  font-size: 180%;
  padding: 10px;
}

.project-title {
  font-weight: 200;
  font-size: 180%;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}

.project-title::after {
  display: block;
  height: 2px;
  background-color: #fff;
  content: " ";
  width: 300px;
  margin: 0 auto;
}

/* --------------------------------------- */
/* LANDING PAGE */
/* --------------------------------------- */
.landing-page {
  background-image: url(img/background.jpg);
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

.svg-logo {
  height: 400px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
}

.svg-hero-text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  scale: 0.2;
}

.hero-description {
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -83%);
}

.typed-description {
  font-size: 180%;
  font-weight: 300;
}

/* --------------------------------------- */
/* ABOUT PAGE */
/* --------------------------------------- */
.about-page {
  height: 100vh;
}

.my-img img {
  width: 35%;
  margin-top: 30px;
  border-top: 0px;
  transform-origin: center;
}

.hey-there {
  margin-top: 20px;
  font-size: 140%;
}

.about-description p {
  width: 80%;
  line-height: 1.4;
}

.skills {
  margin-top: 20px;
}

.container-bar {
  width: 100%;
  height: 30px;
  background-color: #efefef;
  margin: 6px 0;
  border-radius: 5px;
}

.cpp-bar {
  width: 60%;
  height: 30px;
  border-radius: 5px;
  background-color: #f34b7d;
}

.html-bar {
  width: 70%;
  height: 30px;
  border-radius: 5px;
  background-color: #e34c26;
}

.css-bar {
  width: 60%;
  height: 30px;
  border-radius: 5px;
  background-color: #563d7c;
}

.js-bar {
  width: 25%;
  height: 30px;
  border-radius: 5px;
  background-color: #f1e05a;
}

.python-bar {
  width: 10%;
  height: 30px;
  border-radius: 5px;
  background-color: #3572a5;
}

.swift-bar {
  width: 20%;
  height: 30px;
  border-radius: 5px;
  background-color: #ffac45;
}

.java-bar {
  width: 5%;
  height: 30px;
  border-radius: 5px;
  background-color: #b07219;
}

/* --------------------------------------- */
/* PROJECTS PAGE */
/* --------------------------------------- */
.projects-page {
  background-color: #111;
}

.mansion-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.mansion-container h3 {
  width: 100%;
}

.mansion-container img {
  display: flex;
  width: 30%;
  margin: 18px 0;
  height: auto;
}

.mansion-1 {
  z-index: 1;
}

.mansion-2 {
  transform: translateX(108.5%);
}

.mansion-3 {
  transform: translateX(-108.5%);
}

.gaming-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.gaming-container h3 {
  width: 100%;
}

.gaming-container img {
  display: flex;
  width: 30%;
  margin: 18px 0;
  height: auto;
}

.gaming-1 {
  z-index: 1;
}

.gaming-2 {
  transform: translateX(108.5%);
}

.gaming-3 {
  transform: translateX(-108.5%);
}
