* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #fff;
  background-color: #151515;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

/* --------------------------------------- */
/* RESUABLE COMPONENTS */
/* --------------------------------------- */
.row {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding: 60px 0;
}

h2 {
  font-weight: 300;
  font-size: 180%;
  text-align: left;
}

span {
  width: 100%;
  background-color: #fff;
  display: block;
  height: 2px;
  margin-top: 10px;
}

h3 {
  font-weight: 200;
  font-size: 150%;
  padding: 10px 0;
}

/* --------------------------------------- */
/* LANDING PAGE */
/* --------------------------------------- */
.landing-page {
  background-image: url(img/background.jpg);
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

.svg-logo {
  height: 400px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
}

.svg-hero-text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  scale: 0.2;
}

.hero-description {
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -83%);
}

.typed-description {
  font-size: 180%;
  font-weight: 300;
}
