/*--- ACCENT COLOR: #fa8231 ---*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #fff;
  background-color: #111;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

/* --------------------------------------- */
/* RESUABLE COMPONENTS */
/* --------------------------------------- */
.row {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding: 60px 0;
  overflow: hidden;
}

h3 {
  font-weight: 200;
  font-size: 150%;
  padding: 15px 0;
}

i {
  font-size: 150%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

/* --------------------------------------- */
/* LANDING PAGE */
/* --------------------------------------- */
.landing-page {
/*   background-image: url(img/background.jpg); */
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  padding-top: 0;
}

.svg-logo {
  height: 400px;
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -15%);
  transform: translate(-50%, -15%);
}

.svg-hero-text {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
  transform: translate(-50%, -70%);
  scale: 0.2;
}

.hero-description {
  position: absolute;
  top: 83%;
  left: 50%;
  -webkit-transform: translate(-50%, -83%);
  transform: translate(-50%, -83%);
}

.typed-description {
  font-size: 180%;
  font-weight: 300;
}

/* --------------------------------------- */
/* ABOUT PAGE */
/* --------------------------------------- */

.page-title {
  font-weight: 300;
  font-size: 180%;
  text-align: left;
}

.underline {
  width: 100%;
  background-color: #fa8231;
  display: block;
  height: 2px;
  margin-top: 10px;
}

.my-img img {
  width: 35%;
  margin-top: 30px;
  border-top: 0px;
  -webkit-transform-origin: center;
  transform-origin: center;
}

.hey-there {
  margin-top: 20px;
  font-size: 140%;
}

.about-description p {
  width: 80%;
  line-height: 1.4;
}

.container-bar {
  width: 100%;
  height: 30px;
  background-color: #efefef;
  margin: 6px 0;
  border-radius: 5px;
}

.cpp-bar,
.html-bar,
.css-bar,
.js-bar,
.python-bar,
.swift-bar,
.java-bar {
  height: 100%;
  border-radius: 5px;
}

.cpp-bar {
  width: 50%;
  background-color: #f34b7d;
}

.html-bar {
  width: 70%;
  background-color: #e34c26;
}

.css-bar {
  width: 65%;
  background-color: #563d7c;
}

.js-bar {
  width: 30%;
  background-color: #f1e05a;
}

.python-bar {
  width: 25%;
  background-color: #3572a5;
}

.java-bar {
  width: 30%;
  background-color: #b07219;
}

.swift-bar {
  width: 10%;
  background-color: #ffac45;
}

/* --------------------------------------- */
/* PROJECTS PAGE */
/* --------------------------------------- */
.projects-page {
  background-color: #000;
}

.project-title {
  font-weight: 200;
  font-size: 180%;
  text-align: center;
}

.project-title::after {
  display: block;
  height: 2px;
  background-color: #fa8231;
  content: " ";
  width: 100px;
  margin: 5px auto 0 auto;
}

.project-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin-bottom: 20px;
}

.project-gallery {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  position: relative;
}

.gallery-highlight {
  position: relative;
  width: 50%;
  height: auto;
  margin-right: 20%;
}

.project-preview {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: end;
  align-items: flex-end;
  width: 40%;
  height: auto;
  position: relative;
}

.project-preview img {
  display: -webkit-box;
  display: flex;
  width: 28%;
  height: auto;
  margin-top: 2%;
  margin-right: 2%;
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.project-preview img:nth-child(1) {
  margin-top: 0;
}

img.project-active {
  opacity: 1;
}

.project-description {
  width: 70%;
  margin: 30px auto 0 auto;
  text-align: justify;
}

.icon-left i,
.icon-right i {
  font-size: 225%;
}

.icon-left {
  position: absolute;
  left: 5%;
  top: 42%;
}

.icon-right {
  position: absolute;
  right: 5%;
  top: 42%;
}

.glider-prev i:hover,
.glider-next i:hover,
.glider-prev i:focus,
.glider-next i:focus {
  color: #fa8231;
}

/* --------------------------------------- */
/* FOOTER */
/* --------------------------------------- */

footer {
  background-color: #151515;
  padding: 20px;
  font-size: 90%;
}

.social-links {
  display: -webkit-box;
  display: flex;
  width: 20%;
  margin: 0 auto;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  justify-content: space-evenly;
}

.social-links li:last-child {
  margin-right: 0px;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 130%;
  vertical-align: middle;
}

.ion-social-linkedin,
.ion-social-github {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.ion-social-linkedin:hover {
  color: #007bb5;
}

.ion-social-github:hover {
  color: #f4cbb2;
}

footer p {
  color: #888;
  text-align: center;
  font-size: 90%;
  margin-top: 20px;
}
